doctype html

html(lang="id")
    head
        include head/meta
                
        title Title Here
        
        include head/css
        
        include head/js-top    
    body
    
        include body/header
        
        block content
        
        include body/foot
        
        include head/js-bottom
                    
        