doctype html

html(lang="id")
    head
        include head/meta
                
        title ROKUTSAN - Your Digital Branding Whizz
        
        include head/css
        
        include head/js-top    
    body
    
        include body/additional
        
        include body/nav
        
        block content
        
        include body/foot
        
        include head/js-bottom
                    
        