#explore.container
    .section-title
        h2 Portfolio Kami
        h4 anda bisa jadi yang berikutnya!
    section.row.heroimg.breath
        .col-sm-6.col-md-4
            .thumbnail
                img.img-responsive(src="assets/img/clients/moba-thumb.jpg" alt="MOBA Indogamers")
                .caption
                    h3 MOBA Indogamers
                    p
                        strong moba.indogamers.com
        .col-sm-6.col-md-4
            .thumbnail
                img.img-responsive(src="assets/img/clients/stella-thumb.jpg" alt="Stella Pengharum")
                .caption
                    h3 Stella Pengharum
                    p
                        strong www.stellapengharum.com
        .col-sm-6.col-md-4
            .thumbnail
                img.img-responsive(src="assets/img/clients/bnp-thumb.jpg" alt="Bank BNP")
                .caption
                    h3 Bank BNP
                    p
                        strong dalam proses pengerjaan
        .col-sm-6.col-md-4
            .thumbnail
                img.img-responsive(src="assets/img/clients/medco-thumb.jpg" alt="Medco Group")
                .caption
                    h3 Medco Group
                    p
                        strong dalam proses pengerjaan
        .col-sm-6.col-md-4
            .thumbnail
                img.img-responsive(src="assets/img/clients/aulia-thumb.jpg" alt="Aulia Mansion Hotel")
                .caption
                    h3 Aulia Mansion Hotel
                    p
                        strong dalam proses pengerjaan
        .col-sm-6.col-md-4
            .thumbnail
                img.img-responsive(src="assets/img/clients/your-thumb.jpg" alt="Website Anda")
                .caption
                    h3 Website Anda
                    a.scrollto(href="#callmention")
                        p
                            strong klik disini