.section-title
        h5 Frequently Asked Questions
    .row.faq.breath
        .col-md-6
            h6 How does the free trial work?
            p Our 10 day trial is 100% free and does not require credit card information to start. If at the end of your trial you would like to upgrade, great. If not, you can cancel your account altogether, or let us mark it as inactive for you to come back to later.
            h6 Can I switch plans later?
            p  Absolutely. You can switch between our paid plans, or cancel your account altogether, whenever you like. We will adjust any payments accordingly.