//-Footer
div#f
    div.container
        div.row
            div.col-lg-4
                h4#about About Rokutsan
                div.hline-w
                p Rokutsan is a incubation start up company under PT. Era Reportama Nusantara which consists of a band of creative, a bit crazy, colourful gamers that joined together to form a team that will change the world or maybe just trying to give their best towards their clients.
            div.col-lg-4
                h4 Twitter Feed
                div.hline-w
                a.twitter-timeline(href="https://twitter.com/Rokutsan"  data-widget-id="476132298086039554") Tweets by @Rokutsan
                script.
                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            div.col-lg-4#contactus
                h4 Our Bunker
                div.hline-w
                p Jl. Harsono RM No.63 RT 02 RW 04,
                    | Ragunan, Jakarta Selatan 12550
                    | DKI Jakarta, Indonesia
                    | 
                p Phone : +62 21 781 1285 