//- Fixed Navbar
div.navbar.navbar-default.navbar-fixed-top.btmborder(role="navigation")
    div.container
        div.navbar-header
            button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="index.html") 
                strong TagLine
        div.navbar-collapse.collapse.navbar-right
            ul.nav.navbar-nav
                li.active
                    a(href="#") MENU 1
                li.dropdown
                    a(href="#" class="dropdown-toggle" data-toggle="dropdown") MENU 2
                        b.caret
                    ul.dropdown-menu
                        li
                            a(href="#") SUB-MENU