.callcenter
                .col-lg-4.col-md-6.col-sm-12.col-xs-12 Call 
                    span.hidden-xs Center : 
                    a(href="tel:+62217811285") +62 21 
                        span.font-color 781 1285
                .col-lg-4.hidden-md.hidden-sm.hidden-xs YM :
                    a(href="ymsgr:SendIM?rokutsan.mkt1@yahoo.co.id") rokutsan.mkt1@yahoo.co.id
                        img(border=0 src="http://opi.yahoo.com/online?u=rokutsan.mkt1@yahoo.co.id&m=g&t=5")
                .col-lg-4.col-md-4.hidden-sm.hidden-xs Email : sales@rokutsan.com
#headerwrap.container.background-pop
            .logo
                a(href="index.html")
                    img(src="assets/img/logo.png" alt="logo")
            h1.setpadding Membangun Website Tidak Harus Lama
            h3#callmention Dengan sistem rapid development kami dan feedback dari anda, membangun sebuah karya seni seperti situs anda akan lebih cepat.
            h4 Anda cukup mengisi nama dan telpon di form ini, dan kami akan segera menghubungi anda !
            .row
                .col-md-6.col-md-offset-3.subscribe
                    form#subscribeForm.form-horizontal.text-center(role="form" action="subscribe.php" method="POST")
                        input#name.form-control.form-margin(name="name" type="text" placeholder="Masukkan nama lengkap anda" data-validate="validate(required, name)" required="required")
                        input#address.form-control.form-margin(name="email" type="email" placeholder="Masukkan email anda" data-validate="validate(required, email)" required="required")
                        input#telp.form-control.form-margin(name="telp" type="text" placeholder="Masukkan nomor telepon anda yang bisa kami hubungi" data-validate="validate(required, telp)" required="required")
                        textarea#message.form-control.input-sm.form-margin(name="message" type="text" placeholder="Apa yang dapat kami bantu untuk anda ?" data-validate="validate(required, message)" required="required")
                        button.btn.btn-success.col-md-12.col-sm-12.col-xs-12(type="submit") KIRIM
                                
                    span#result.alertMsg
                a.scrollto(href="#explore")
                    p KLIK UNTUK MENGETAHUI LEBIH LANJUT
                    p.scrollto--arrow
                        img(src="assets/img/scroll_down.png" alt="scroll down arrow")