.section-title
    h2 Teknologi yang kami gunakan
    h4 lengkap dengan sambal rahasia 
section.row.features
    .col-sm-6.col-md-3
        .thumbnail
            img(src="assets/img/icon-responsive.png" alt="Desain Responsif")
            .caption
                h3 Desain Responsif
                p
                    strong Seluruh desain kami kompatibel dengan hampir seluruh layar yang beredar di luar sana.
    .col-sm-6.col-md-3
        .thumbnail
            img(src="assets/img/icon-css3.png" alt="CSS 3")
            .caption
                h3 CSS 3
                p
                    strong Dengan kebutuhan animasi yang semakin ringan, kami beralih ke CSS3 untuk memberikan yang terbaik.
    .col-sm-6.col-md-3
        .thumbnail
            img(src="assets/img/icon-html5.png" alt="HTML 5")
            .caption
                h3 HTML 5
                p
                    strong Kebutuhan akan sebuah website yang semantic, SEO friendly, dan modular membuat kami memasukan HTML 5 sebagai bahan utama.
    .col-sm-6.col-md-3
        .thumbnail
            img(src="assets/img/icon-sauce.png" alt="Saus Rahasia")
            .caption
                h3 Sambal Rahasia
                p
                    strong Banyak faktor yang sebetulnya bukan teknikal melainkan metode - metode yang kami pakai untuk membuat perancangan dan pembuatan situs anda menjadi sebuah perjalanan.