
        
//- Bootstrap core CSS
link(href="assets/css/bootstrap.min.css" rel="stylesheet")
link(href="assets/css/font-awesome.min.css" rel="stylesheet")

//- Custom Styles for Main Page template
link(href="assets/css/main.css" rel="stylesheet")
link(href="assets/css/animations.css" rel="stylesheet")
link(href="assets/css/hoverpack/hover_pack-f4185e.css" rel="stylesheet")

//- Custom Styles for Services template
link(href="assets/css/service.css" rel="stylesheet")
link(href="http://fonts.googleapis.com/css?family=Open+Sans:300,600" rel="stylesheet" type="text/css")

//- Change the colors
link(href="assets/css/colors/color-f4185e.css" rel="stylesheet")